<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>视频列表-StreamVault</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="../static/css/style.min.css" rel="stylesheet">
    <link href="../static/js/skin/laypage.css" rel="stylesheet">

    <style>
        table{
            table-layout: fixed;
        }
        table td{
            text-overflow:ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        
        .thumbnail-container {
            position: relative;
            display: inline-block;
        }
        
        .thumbnail-preview {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1000;
            display: none;
            background: white;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 0 20px rgba(0,0,0,0.3);
            pointer-events: none; /* 防止鼠标事件 */
        }
        
        .thumbnail-preview img {
            max-width: 400px;
            max-height: 300px;
        }
        
        .thumbnail-overlay {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0,0,0,0.5);
            z-index: 999;
            display: none;
            pointer-events: none; /* 防止鼠标事件 */
        }
    </style>
</head>

<body>
<div class="lyear-layout-web">

    <div class="lyear-layout-container">

        <!--左侧导航-->
        <div th:include="admin/include/common :: headermenu"> </div>
        <!--End 头部信息-->
        <!--End 头部信息-->

        <!--页面主要内容-->
        <main class="lyear-layout-content">

            <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header bg-light">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <h5 class="card-title mb-0">搜索</h5>
                                        </div>
                                        <div class="col-auto">
                                            <a class="btn btn-primary btn-sm searchData" href="#">
                                                <i class="mdi mdi-magnify"></i> 搜索
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <form action="#!" method="post" class="form-horizontal form-search">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label">视频名称</label>
                                                    <input type="text" class="form-control videoname" name="videoname" placeholder="请输入视频名称" />
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label">视频简介</label>
                                                    <input type="text" class="form-control videodesc" name="videodesc" placeholder="视频简介" />
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label">平台</label>
                                                    <select name="videoplatform" class="form-control videoplatform" id="type">
                                                        <option value="">所有</option>
                                                        <option value="tiktok">tiktok</option>
                                                        <option value="哔哩">哔哩</option>
                                                        <option value="抖音">抖音</option>
                                                        <option value="kuaishou">快手</option>
                                                        <option value="YouTube">YouTube</option>
                                                        <option value="instagram">instagram</option>
                                                        <option value="twitter">twitter</option>
                                                        <option value="wallpaper">wallpaper</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>


                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header bg-light">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h5 class="card-title mb-0">视频列表</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead class="thead-light">
                                        <tr>
                                            <th style="width: 60px">编号</th>
                                            <th style="width: 100px">封面</th>
                                            <th>视频信息</th>
                                            <th style="width: 100px">平台</th>
                                            <th style="width: 150px">下载时间</th>
                                            <th style="width: 120px">操作</th>
                                        </tr>
                                        </thead>
                                        <tbody class="tableData">
                                        </tbody>
                                    </table>
                                </div>
                                <div class="d-flex justify-content-center mt-3">
                                    <ul id="pager" class="pagination pagination-sm">
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </main>
        <!--End 页面主要内容-->
    </div>

<!--    模态框 start-->
    <div class="updateData layui-form" style="display: none;padding: 20px;">
        <input class="optionid" type="hidden">
        <div class="layui-inline">
            <label class="layui-form-label">视频名称</label>
            <div class="layui-input-inline">
                <input  type="text" name="videoname"  autocomplete="off" class="videoname layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">视频简介</label>
            <div class="layui-input-inline">
                <input  type="text" name="videodesc"  autocomplete="off" class="videodesc layui-input">
            </div>
        </div>
        <div class="buttondiv" style=" padding-left: 5%; padding-top: 5%; "><button type="button" class="layui-btn">保存信息</button></div>
    </div>

<!--    模态框end-->
</div>

<script type="text/javascript" src="../static/js/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../static/js/perfect-scrollbar.min.js"></script>
<script type="text/javascript" src="../static/js/main.min.js"></script>
<script type="text/javascript" src="../static/js/laypage.js"></script>
<script src="../static/js/layer/layer.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function(){
        findList(1);
        $('.searchData').click(function () {
            findList(1)
        })

    });
    function  updateData(){
        $('.editData').click(function (){
            layer.alert("暂时移除了编辑功能,后期会重做");
        })
    }
    function transferName(str){
        var obj=str.lastIndexOf("/");
        var filename = str.substr(obj+1);
        var path = str.substr(0,obj);
        return path+"/"+encodeURIComponent(filename);
    }
    function deleteData(){
        $('.deleteData').click(function () {
            var id = $(this).attr('data-id');
            layer.confirm("删除后下载的资源将一并删除,是否删除", function(index){
                //调用接口删除
                $.get("/admin/api/deleteVideoData?id="+id,function(res){
                    if(res.resCode =="000001"){
                        layer.msg(res.message)
                        setTimeout(function(){
                            window.location.reload();
                        },1500)
                    }else{
                        layer.alert(res.message);
                    }
                })
                layer.close(index);
            });
        })
    }
    function  playVideo(){
        $('.playVideo').click(function (){
            var videourl = $(this).attr('data-video');
            var html ="<video src='"+videourl+"' height='100%' width='100%' controls='controls'>"
            layer.open({
                type: 1,
                skin: 'layui-layer-rim',
                area: ['800px', '530px'],
                content:html
            });

        })
    }
    function getImage(url) {
        if(url) {
            return '<div class="thumbnail-container">' +
                   '<img src="'+url+'" class="img-thumbnail" style="max-width: 80px; max-height: 60px;" ' +
                   'onmouseenter="showPreview(this)" onmouseleave="hidePreview()" ' +
                   'onerror="this.src=\'/static/images/noimage.jpg\'">' +
                   '</div>';
        }
        return '';
    }

    var previewTimer;
    var hideTimer;

    function showPreview(img) {
        clearTimeout(hideTimer);
        clearTimeout(previewTimer);
        
        previewTimer = setTimeout(function() {
            var preview = document.getElementById('thumbnail-preview');
            if (!preview) {
                preview = document.createElement('div');
                preview.id = 'thumbnail-preview';
                preview.className = 'thumbnail-preview';
                document.body.appendChild(preview);
                
                var overlay = document.createElement('div');
                overlay.className = 'thumbnail-overlay';
                overlay.id = 'thumbnail-overlay';
                document.body.appendChild(overlay);
            }
            
            var previewImg = preview.querySelector('img');
            if (!previewImg) {
                previewImg = document.createElement('img');
                preview.appendChild(previewImg);
            }
            
            previewImg.src = img.src;
            preview.style.display = 'block';
            document.getElementById('thumbnail-overlay').style.display = 'block';
        }, 100); // 延迟100ms显示,避免快速移动时的闪烁
    }

    function hidePreview() {
        clearTimeout(previewTimer);
        hideTimer = setTimeout(function() {
            var preview = document.getElementById('thumbnail-preview');
            var overlay = document.getElementById('thumbnail-overlay');
            if (preview) preview.style.display = 'none';
            if (overlay) overlay.style.display = 'none';
        }, 100); // 延迟100ms隐藏,避免快速移动时的闪烁
    }

    function formatTime(time) {
        if(!time) return '';
        return new Date(time).toLocaleString();
    }

    function formatVideoInfo(item) {
        var html = '<div class="video-info">';
        
        // 解析originaladdress
        var addressType = '';
        var addressValue = '';
        var cc ="badge-info";
        if(item.videoplatform === '抖音') {
            if(item.originaladdress.startsWith('post')) {
            	cc ="badge-primary";
                addressType = '作品';
                addressValue = item.originaladdress.substring(4);
            } else if(item.originaladdress.startsWith('like')) {
            	cc ="badge-success";
                addressType = '喜欢';
                addressValue = item.originaladdress.substring(4);
            } else if(item.originaladdress.startsWith('recommend')) {
            	cc ="badge-secondary";
                addressType = '首页推荐';
                addressValue = item.originaladdress.substring(9);
            } else if(item.originaladdress.startsWith('fav-')) {
            	cc ="badge-danger";
                addressType = '收藏夹';
                var parts = item.originaladdress.split('-');
                addressValue = parts[1] + ' (' + parts[2].substring(3) + ')';
            } else if(item.originaladdress.startsWith('https://v.douyin.com/')) {
            	cc ="badge-warning";
            	addressType = '分享链接';
                addressValue = item.originaladdress;
            }
        } else if(item.videoplatform === '哔哩') {
            if(item.originaladdress.startsWith('bili-fav-')) {
                addressType = '收藏夹';
                addressValue = item.originaladdress.substring(9);
            } else if(item.originaladdress.startsWith('bili-arc-')) {
                addressType = '投稿';
                addressValue = item.originaladdress.substring(9);
            } else {
                addressType = '收藏夹';
                addressValue = item.originaladdress;
            }
        } else {
            addressType = '其他';
            addressValue = item.originaladdress;
        }

        html += '<div class="font-weight-bold text-truncate" title="'+item.videoname+'">'+item.videoname+'</div>';
        html += '<div class="small text-muted text-truncate" title="'+item.videodesc+'">'+item.videodesc+'</div>';
        html += '<div class="small">';
        html += '<span class="badge '+cc+'\">'+addressType+'</span> ';
        html += '<span class="text-muted">'+addressValue+'</span>';
        html += '</div>';
        html += '</div>';
        return html;
    }

    function  findList(page){
        var option = {
            pageNo:page,
            pageSize:25
        }
        var  videoname = $('.videoname').val();
        if(videoname != "" ){
            option['videoname']= videoname;
        }
        var  videodesc = $('.videodesc').val();
        if(videodesc != "" ){
            option['videodesc']= videodesc;
        }
        var  videoplatform = $('.videoplatform').val();
        if(videoplatform != "" ){
            option['videoplatform']= videoplatform;
        }
        $.post("/admin/api/findVideoDataList",option,
            function(data,status){
                console.log(data,status);
                if(data.resCode==="000001"){
                    var record = data.record;
                    var html = "";
                    var list = record.content;
                    for(var i = 0;i<list.length;i++){
                        html += '<tr>';
                        html += '<td>'+list[i].id+'</td>';
                        html += '<td>'+getImage(list[i].videocover)+'</td>';
                        html += '<td>'+formatVideoInfo(list[i])+'</td>';
                        html += '<td><span class="badge badge-info">'+list[i].videoplatform+'</span></td>';
                        html += '<td>'+formatTime(list[i].createtime)+'</td>';
                        html += '<td>';
                        html += '<div class="btn-group btn-group-sm">';
                        html += '<a data-id="'+list[i].id+'" class="btn btn-outline-primary editData" href="#!" title="编辑" data-toggle="tooltip"><i class="mdi mdi-pencil"></i></a>';
                        html += '<a data-id="'+list[i].id+'" data-video="'+list[i].videounrealaddr+'" class="btn btn-outline-success playVideo" href="#!" title="播放" data-toggle="tooltip"><i class="mdi mdi-play"></i></a>';
                        html += '<a data-id="'+list[i].id+'" class="btn btn-outline-danger deleteData" href="#!" title="删除" data-toggle="tooltip"><i class="mdi mdi-delete"></i></a>';
                        html += '</div>';
                        html += '</td>';
                        html += '</tr>';
                    }

                    $('.tableData').html(html)
                    playVideo();
                    deleteData();
                    updateData();
                    laypage({
                        cont: 'pager',
                        pages: record.totalPages,
                        curr:page,
                        jump: function(obj,first){
                            if(!first && obj.curr != page){
                                findList(obj.curr);
                            }
                        }
                    })
                }
            })
    }
</script>
</body>
</html>